rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ユーザーは自分のデータのみ読み書き可能
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      // 管理者は全ユーザーデータを読み取り可能
      allow read: if request.auth != null && request.auth.token.email == 'ishimotty.gst@gmail.com';

      match /{subcollection}/{document} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
        allow read: if request.auth != null && request.auth.token.email == 'ishimotty.gst@gmail.com';
      }
    }
  }
}
